<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Andrei V.</title>
    <meta name="description" content="">
    <meta name="author" content="Andrei Vrancianu">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="~/css/base.css">
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/vendor.css">

    <!-- script
    ================================================== -->
    <script src="~/js/modernizr.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">

</head>
<body id="top">


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>


    <!-- header
    ================================================== -->
    <header class="s-header">

        <nav class="header-nav">

            <a href="#" class="header-nav__close" title="close"><span>Close</span></a>

            <h3>Navigate to</h3>

            <div class="header-nav__content">

                <ul class="header-nav__list">
                    <li><a class="smoothscroll" href="#hero" title="home">Home</a></li>
                    <li><a class="smoothscroll" href="#about" title="about">About</a></li>
                    <li><a class="smoothscroll" href="#skills" title="skills">Skills</a></li>
                    <li><a class="smoothscroll" href="#projects" title="projects">Projects</a></li>
                    <li><a class="smoothscroll" href="#contact" title="contact">Contact</a></li>
                </ul>

                <p>
                    If you have any question, do not hesitate to <a class="smoothscroll" href='#contact'>contact me</a> or feel free to reach out through any platforms bellow:
                </p>

                <ul class="header-nav__social">
                    <li>
                        <a href="https://www.facebook.com/andrei.vrancianu"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/andrei-vr%C3%A2ncianu/"><i class="fab fa-linkedin"></i></a>
                    </li>
                    <li>
                        <a href="https://github.com/V-Andrei"><i class="fab fa-github"></i></a>
                    </li>
                </ul>

            </div> <!-- end header-nav__content -->

        </nav> <!-- end header-nav -->

        <a class="header-menu-toggle" href="#0">
            <span class="header-menu-icon"></span>
        </a>

    </header> <!-- end s-header -->
    <!-- Body -->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- footer
    ================================================== -->
    <footer id="contact" class="s-footer h-dark-bg">

        <div class="right-vert-line"></div>

        <div class="row s-footer__main">
            <div class="column large-6">
                <div class="section-intro" data-aos="fade-up">
                    <h3 class="subhead">Get In Touch</h3>

                    <h1 class="display-1">
                        Have an idea or a concept that really excite you?
                        Let's turn that idea into reality. Shoot me a message.
                    </h1>
                </div>

                <div class="footer-email-us">
                    <a href="mailto:vrancianuandrei@gmail.com" class=" dark btn btn--primary h-full-width mailtoui">Let's Talk</a>
                </div>
            </div>

            <div class="column large-5">
                <div class="footer-contacts">
                    <div class="footer-contact-block" data-aos="fade-up">
                        <h5 class="footer-contact-block__header">
                            Email
                        </h5>
                        <p class="footer-contact-block__content dark">
                            <a href="mailto:vrancianuandrei@gmail.com">vrancianuandrei.com</a>
                        </p>
                    </div> <!-- end footer-contact-block -->
                    <div class="footer-contact-block" data-aos="fade-up">
                        <h5 class="footer-contact-block__header">
                            Phone
                        </h5>
                        <p class="footer-contact-block__content">
                            <a href="tel:+40753704360">+40753704360 (RO)</a>
                        </p>
                    </div> <!-- end footer-contact-block -->
                    <br>
                    <div class="footer-contact-block" data-aos="fade-up">
                        <h5 class="footer-contact-block__header">
                            Social
                        </h5>
                        <ul class="footer-contact-block__list">
                            <li><a href="https://www.facebook.com/andrei.vrancianu">Facebook</a></li>
                            <li><a href="https://www.linkedin.com/in/andrei-vr%C3%A2ncianu/">Linkedin</a></li>
                            <li><a href="https://github.com/V-Andrei">Github</a></li>
                        </ul>
                    </div> <!-- end footer-contact-block -->
                </div>
            </div>
        </div> <!-- end s-footer__main -->

        <div class="row s-footer__bottom">
            <div class="column large-full ss-copyright">
                <span>© Copyright Andrei Vrancianu 2021</span>
            </div> <!-- end ss-copyright -->

            <div class="ss-go-top">
                <a class="smoothscroll" title="Back to Top" href="#top">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0l8 9h-6v15h-4v-15h-6z" /></svg>
                </a>
            </div> <!-- end ss-go-top -->
        </div> <!-- end s-footer__bottom -->

    </footer> <!-- end s-footer -->
    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title="Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>

        </div>

    </div> <!-- end photoSwipe background -->
    <!-- Java Script
    ================================================== -->

    <script>
        // this object must follow the MailgoConfig type
        window.mailgoConfig = {
            dark: true,
            showFooter: false,
        };
    </script>

    <script src="https://unpkg.com/mailgo@0.11.2/dist/mailgo.dark.min.js"></script>
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/plugins.js"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
