@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- hero
    ================================================== -->
<section id="hero" class="s-hero target-section" data-parallax="scroll" data-image-src="images/hero-bg.jpg" data-natural-width=3000 data-natural-height=2000 data-position-y=center>

    <div class="row hero-content">

        <div class="column large-full">

            <h1>
                Hello World, <br>
                I'm Andrei Vracianu, <br>
                a frontend developer <br>
                & designer.
            </h1>

            <ul class="hero-social">
                <li>
                    <a href="https://www.facebook.com/andrei.vrancianu" title="Facebook">Facebook</a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/andrei-vr%C3%A2ncianu" title="Linkedin">Linkedin</a>
                </li>
                <li>
                    <a href="https://github.com/V-Andrei" title="GitHub">GitHub</a>
                </li>
                <li>
                    <a href="#contact" class="smoothscroll" title="Contact Me">Contact Me</a>
                </li>
            </ul> <!-- end hero-social -->

        </div>

    </div> <!-- end hero-content -->

    <div class="hero-scroll">
        <a href="#about" class="scroll-link smoothscroll">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 24l-8-9h6v-15h4v15h6z" /></svg>
        </a>
    </div> <!-- end hero-scroll -->

</section> <!-- end s-hero -->
<!-- about
================================================== -->
<section id="about" class="s-about target-section">

    <div class="s-about__section s-about__section--profile">

        <div class="right-vert-line"></div>

        <div class="row">
            <div class="column large-6 medium-8 tab-full">

                <div class="section-intro" data-num="01" data-aos="fade-up">
                    <h3 class="subhead">About Me</h3>
                    <h1 class="display-1">I'm the kind of person who isn't afraid of challenges.</h1>
                </div>

                <div class="profile-pic" data-aos="fade-up">
                    <img src="images/profile-pic.jpg"
                         srcset="images/profile-pic.jpg 1x, images/profile-pic@2x.jpg 2x" alt="">
                </div>

                <h3 data-aos="fade-up">Profile</h3>

                <p data-aos="fade-up">
                    NET developer specialized in web and passionate about game development.
                    I have enrolled in Wantsome IT Academy to learn more about .NET web development and allowing me to expand my knowledge in programming.
                    Also, I am a self-taught logo/web designer.
                </p>

            </div>
        </div>

    </div> <!-- end s-about__section--profile -->

    <div class="s-about__section">

        <div class="row">
            <div class="column">
                <h3 data-aos="fade-up">Education</h3>
            </div>
        </div>

        <div class="row block-large-1-2 block-900-full work-positions">

            <div class="column" data-aos="fade-up">
                <div class="position">
                    <div class="position__header">
                        <h6>
                            <span class="position__co">Colegiul Economic "Ion Ghica" Bacau</span>
                            <span class="position__pos">High School Diploma</span>
                        </h6>
                        <div class="position__timeframe">
                            2011 - 2015
                        </div>
                    </div>

                    <p><b>General skills:</b> Romanian language, Mathematics, Business communication, English language, Information and communication technology.</p>
                    <p><b>Professional skills:</b> Simulated a real business environment.</p>
                </div>
            </div> <!-- end column -->
            <div class="column" data-aos="fade-up">
                <div class="position">
                    <div class="position__header">
                        <h6>
                            <span class="position__co">Wantsome The Friendly IT Academy Iasi</span>
                            <span class="position__pos">.NET Programming Course</span>
                        </h6>
                        <div class="position__timeframe">
                            2019 - 2020
                        </div>
                    </div>

                    <p><b>General skills:</b> Algorithms, OOP, SQL, HTML, CSS, Bootstrap, ASP.NET, ADO.NET.</p>
                    <p><b>Professional skills:</b> Website store made with ASP.NET, including Bootstrap and Java Script</p>

                </div>
            </div> <!-- end column -->


        </div> <!-- work positions -->

    </div> <!-- end s-about__section -->
    <div class="s-about__section">
        <div class="row">
            <div class="column">
                <h3 data-aos="fade-up">Career</h3>
            </div>
        </div>
        <div class="row block-large-1-2 block-900-full work-positions">
            <div class="column" data-aos="fade-up">
                <div class="position">
                    <div class="position__header">
                        <h6>
                            <span class="position__co">99Designs</span>
                            <span class="position__pos">Designer (Freelancer)</span>
                        </h6>
                        <div class="position__timeframe">
                            2014 - 2017
                        </div>
                    </div>

                    <p>
                        Successfully created and implemented digital graphic design projects from concept through completion.
                        Worked closely with the client to create a vision, conceive designs, and consistently meet deadlines and requirements.
                    </p>
                </div>
            </div> <!-- end column -->
            <div class="column" data-aos="fade-up">
                <div class="position">
                    <div class="position__header">
                        <h6>
                            <span class="position__co">Dedeman</span>
                            <span class="position__pos">Sale Consultant</span>
                        </h6>
                        <div class="position__timeframe">
                            2017 - 2019
                        </div>
                    </div>

                    <p>
                        Met with key personnel to implement on-going sales planning.
                        Design of bathrooms and kitchens in the ViSoft3D program. Managed the day to day clientele business to meet marketing objectives,
                        and to help set measurable metrics for success.
                    </p>
                </div>
            </div> <!-- end column -->
        </div>
        <!-- CV
        ================================================== -->
        <div class="s-cta">

            <div class="row">
                <div class="column large-full">
                    <h2 class="section-desc" data-aos="fade-up">
                        Finde more in my CV!
                    </h2>
                </div>
            </div>

            <div class="row cta-content" data-aos="fade-up">
                <div class="column large-full">
                    <p>
                        You can read more about my biography, experience, skills, education and much more in the PDF attached bellow:
                    </p>
                    <a href="~/downloads/ResumeVAndrei.pdf" download="" class="btn btn--primary h-full-width">Downloads My CV</a>
                </div>
            </div> <!-- end CV-content -->

        </div> <!-- end s-CV -->
    </div>

</section> <!-- end s-about -->
<!-- services
================================================== -->
<section id="skills" class="s-services target-section h-dark-bg">

    <div class="row s-services__content">

        <div class="vert-line"></div>

        <div class="column large-6 s-services__leftcol">
            <div class="section-intro" data-num="02" data-aos="fade-up">
                <h3 class="subhead">Skills</h3>

                <h1 class="display-1">
                    I focus on crafting web experiences
                    and designs that works. Here are some
                    of my skills.
                </h1>
            </div>
        </div> <!-- end  s-services--leftcol -->

        <div class="column large-6 s-services__right">

            <ul class="skill-bars" data-aos="fade-up">
                <li>
                    <div class="progress percent90"><span>90%</span></div>
                    <strong>.NET(C#)</strong>
                </li>
                <li>
                    <div class="progress percent70"><span>70%</span></div>
                    <strong>ASP.NET</strong>
                </li>
                <li>
                    <div class="progress percent95"><span>95%</span></div>
                    <strong>HTML/CSS</strong>
                </li>
                <li>
                    <div class="progress percent75"><span>75%</span></div>
                    <strong>Java Script</strong>
                </li>
                <li>
                    <div class="progress percent80"><span>80%</span></div>
                    <strong>Adobe Photoshop</strong>
                </li>
                <li>
                    <div class="progress percent85"><span>85%</span></div>
                    <strong>Adobe Illustrator</strong>
                </li>
            </ul>
        </div>

    </div> <!-- s-services__content -->

</section> <!-- end s-services -->
<!-- portfolio
================================================== -->
<section id="projects" class="s-portfolio target-section">

    <div class="row s-portfolio__header">
        <div class="column large-6 medium-8 tab-full">
            <div class="section-intro" data-num="03" data-aos="fade-up">
                <h3 class="subhead">Portfolio</h3>
                <h1 class="display-1">
                    A selection of recent projects I have worked on.
                </h1>
            </div>
        </div>
    </div> <!-- s-porfolio__header -->

    <div class="row s-porfolio__list block-large-1-2 block-tab-full collapse">


        <div class="column" data-aos="fade-up">
            <div class="folio-item">
                <div class="folio-item__thumb">
                    <a class="folio-item__thumb-link" href="images/portfolio/gallery/g-Linden.jpg" title="Linden - Game Development" data-size="1050x700">
                        <img src="images/portfolio/Linden.jpg"
                             srcset="images/portfolio/Linden.jpg 1x, images/portfolio/Linden@2x.jpg 2x" alt="">
                    </a>
                </div>
                <div class="folio-item__info">
                    <div class="folio-item__cat">Game Development</div>
                    <h4 class="folio-item__title">Linden</h4>
                </div>
                <a href="https://www.behance.net/" title="Project Link - GitHub" class="folio-item__project-link">Project Link - GitHub</a>
                <div class="folio-item__caption">
                    <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                </div>
            </div>
        </div> <!-- end column -->

        <div class="column" data-aos="fade-up">
            <div class="folio-item">
                <div class="folio-item__thumb">
                    <a class="folio-item__thumb-link" href="images/portfolio/gallery/g-Cerealkilla.jpg" title="Cerealkilla Logo Design" data-size="1050x700">
                        <img src="images/portfolio/Cerealkilla.jpg"
                             srcset="images/portfolio/Cerealkilla.jpg 1x, images/portfolio/Cerealkilla@2x.jpg 2x" alt="">
                    </a>
                </div>
                <div class="folio-item__info">
                    <div class="folio-item__cat">Logo Design</div>
                    <h4 class="folio-item__title">Cerealkilla</h4>
                </div>
                <a href="https://99designs.com/profiles/vandrei/designs/1759261" title="Project Link - 99Designs" class="folio-item__project-link">Project Link - 99Designs</a>
                <div class="folio-item__caption">
                    <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                </div>
            </div>
        </div> <!-- end column -->

        <div class="column" data-aos="fade-up">
            <div class="folio-item">
                <div class="folio-item__thumb">
                    <a class="folio-item__thumb-link" href="images/portfolio/gallery/g-Merovex.jpg" title="Merovex Logo Design" data-size="1050x700">
                        <img src="images/portfolio/Merovex.jpg"
                             srcset="images/portfolio/Merovex.jpg 1x, images/portfolio/Merovexs@2x.jpg 2x" alt="">
                    </a>
                </div>
                <div class="folio-item__info">
                    <div class="folio-item__cat">Logo Design</div>
                    <h4 class="folio-item__title">Merovex</h4>
                </div>
                <a href="https://99designs.com/profiles/vandrei/designs/554775" title="Project Link - 99Designs" class="folio-item__project-link">Project Link - 99Designs</a>
                <div class="folio-item__caption">
                    <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                </div>
            </div>
        </div> <!-- end column -->

        <div class="column" data-aos="fade-up">
            <div class="folio-item">
                <div class="folio-item__thumb">
                    <a class="folio-item__thumb-link" href="images/portfolio/gallery/g-Purseat.jpg" Title="Purseat Website Design" data-size="1050x700">
                        <img src="images/portfolio/Purseat.jpg"
                             srcset="images/portfolio/Purseat.jpg 1x, images/portfolio/Purseat@2x.jpg 2x" alt="">
                    </a>
                </div>
                <div class="folio-item__info">
                    <div class="folio-item__cat">Website Design</div>
                    <h4 class="folio-item__title">Purseat</h4>
                </div>
                <a href="https://99designs.com/profiles/vandrei/designs/1786970" title="Project Link - 99Designs" class="folio-item__project-link">Project Link - 99Designs</a>
                <div class="folio-item__caption">
                    <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                </div>
            </div>
        </div> <!-- end column -->

        <div class="column" data-aos="fade-up">
            <div class="folio-item">
                <div class="folio-item__thumb">
                    <a class="folio-item__thumb-link" href="images/portfolio/gallery/g-99eSuff.jpg" title="99eStuff - Web Development" data-size="1050x700">
                        <img src="images/portfolio/99eStuff.jpg"
                             srcset="images/portfolio/99eStuff.jpg 1x, images/portfolio/99eStuff@2x.jpg 2x" alt="">
                    </a>
                </div>
                <div class="folio-item__info">
                    <div class="folio-item__cat">Web Development</div>
                    <h4 class="folio-item__title">99eStuff</h4>
                </div>
                <a href="https://www.behance.net/" title="Project Link - GitHub" class="folio-item__project-link">Project Link - GitHub</a>
                <div class="folio-item__caption">
                    <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                </div>
            </div>
        </div> <!-- end column -->

        <div class="column" data-aos="fade-up">
            <div class="folio-item">
                <div class="folio-item__thumb">
                    <a class="folio-item__thumb-link" href="images/portfolio/gallery/g-HiHat.jpg" title="HiHat - Logo Design" data-size="1050x700">
                        <img src="images/portfolio/HiHat.jpg"
                             srcset="images/portfolio/HiHat.jpg 1x, images/portfolio/HiHat@2x.jpg 2x" alt="">
                    </a>
                </div>
                <div class="folio-item__info">
                    <div class="folio-item__cat">Logo Design</div>
                    <h4 class="folio-item__title">HiHat</h4>
                </div>
                <a href="https://99designs.com/profiles/vandrei/designs/1759267" title="Project Link - 99Designs" class="folio-item__project-link">Project Link - 99Designs</a>
                <div class="folio-item__caption">
                    <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                </div>
            </div>
        </div> <!-- end column -->

    </div> <!-- folio-list -->

</section> <!-- end portfolio -->
<div class="s-cta">
    <div class="row cta-content" data-aos="fade-up">

    </div> <!-- end CV-content -->
</div> <!-- end s-CV -->
